/* css/app.css */
@import "normalize.css";

body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  align-items: center;
  justify-content: center;
  height: 100%;
  /*height: 100vh;*/
}

.nav {
  flex-direction: row;
}

.nav a {
  padding: 0 10px;
  font-size: 24px;
}
.second {
  flex-direction: row;
  /*align-items: stretch;*/
}

.iphone-demo,.feature-description {
  flex-grow: 1;
  align-self: center;
  flex-basis: 0;
}

.description {
  padding-right: 150px;
}

.demo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
